<link rel="stylesheet" href="footer-navbar.component.css">
<nav class="navbar fixed-bottom navbar-custom-footer">
    <div class="container-fluid">
        <ul class="nav nav-pills nav-fill w-100">
            <li class="nav-item">
                <a class="nav-link nav-footer-item" (click)="seleccionarSeccion('HabitacionesApp')">
                    <i class="bi bi-house-door"></i>
                    <span>Habitaciones</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-footer-item" (click)="seleccionarSeccion('acompanantes')">
                    <i class="bi bi-person-plus"></i>
                    <span>Acompañantes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-footer-item" (click)="seleccionarSeccion('estadia')">
                    <i class="bi bi-calendar-check"></i>
                    <span>Mi Estadía</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-footer-item" (click)="seleccionarSeccion('actividades')">
                    <i class="bi bi-activity"></i>
                    <span>Actividades</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
